extends ../layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 业务名称
                        th 业务描述
                        th 查看
                        th 更新
                        th 删除
                    tbody
                each item in lines
                    tr(class="item-id-#{item._id}")
                        td #{item.name}
                        td #{item.desc}
                        td: a.btn.btn-info.btn-xs(target="_blank",href="../../line/#{item._id}") 查看
                        td: a.btn.btn-success.btn-xs(target="_blank",href="../line/update/#{item._id}") 修改
                        td
                            button.btn.btn-danger.del.btn-xs(type="button",data-id="#{item._id}") 删除
    script(src="/js/admin.js")