extends ../layout
block content
    .container
        .row
            .alert.alert-success.alert-dismissible(role="alert")
                button.close(type="button",data-dismiss="alert")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                您已成功创建 #{line.name} 业务线！
            .col-md-6.col-md-offset-2
                dl.dl-horizontal
                    dt 业务名称:
                    dd #{line.name}
                    dt 创建时间:
                    dd #{moment(line.meta.updateAt).format('YYYY-MM-DD')}
                    dt 创建人:
                    dd #{line.creator.name}
                    dt 业务介绍:
                    dd #{line.desc}
                    dt 已创建的需求:
                    dd
                        if line.issues
                            each issue in line.issues
                                p
                                    a(href="/issue/#{issue._id}") #{issue.title}
                        else
                            p 该业务线上还未创建任何需求
                    dt 业务成员:
                    dd
                        if line.members
                            each member in line.members
                                span #{member.name}&nbsp;&nbsp;
                    dt
                        a.btn.btn-success.btn-xs(href="/admin/line/update/#{line._id}") 修改
                    //dd
                    //    button.btn.btn-danger.del.btn-xs(type="button",data-id="#{line._id}") 删除




