extends ../layout
block content
    .container.col-sm-offset-1.col-md-8
        form.form-horizontal(role="form",method="post",action="/admin/line")
            h3.page-header #{title}
            input(type="hidden",name="line[_id]",value="#{line._id}")
            input(type="hidden",name="line[creator]",value="#{line.creator}")
            .form-group
                label.col-sm-2.control-label(for="inputTitle") 业务名称
                .col-sm-10
                    input.form-control(type="text",name="line[name]",value="#{line.name}")
            .form-group
                label.col-sm-2.control-label(for="inputDesc") 业务描述
                .col-sm-10
                     input.form-control(type="text",name="line[desc]",value="#{line.desc}")
            .form-group
                label.col-sm-2.control-label 业务成员
                .col-sm-10
                    each user in users
                        label.role-select
                            if line._id
                                - for (var i=0;i<line.members.length;++i)
                                    if line.members[i]
                                        if ((line.members[i]).toString() === (user._id).toString())
                                            input(style="margin-left:10px",type="checkbox",name="line[members]",value="#{user._id}",checked)
                                        else
                                            input(style="margin-left:10px",type="checkbox",name="line[members]",value="#{user._id}")
                                span(style="margin-left:5px") #{user.name}
                            else
                                input(style="margin-left:10px",type="checkbox",name="line[members]",value="#{user._id}")
                                span(style="margin-left:5px") #{user.name}

            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit") 保存
