//成员信息详情页
extends ../layout
block content
    .container.col-sm-offset-1.col-md-8
        form.form-horizontal
            h3.page-header 成员信息详情
            .form-group
                label.col-sm-2.control-label 头像:
                .col-sm-10
                    if member._id
                        image(src='/upload/'+member.avator)
                    label.control-label #{member.avator}
            .form-group
                label.col-sm-2.control-label 昵称:
                .col-sm-10
                    label.control-label #{member.nickName}
            .form-group
                label.col-sm-2.control-label 年级:
                .col-sm-10
                    label.control-label #{member.grade}
                label.col-sm-2.control-label 学历:
                .col-sm-10
                    label.control-label #{member.educational}
            .form-group
                label.col-sm-2.control-label 学院:
                .col-sm-10
                    label.control-label #{member.college}
            .form-group
                label.col-sm-2.control-label 专业:
                .col-sm-10
                    label.control-label #{member.major}
            .form-group
                label.tit.col-sm-2.control-label 公司:
                .col-sm-5
                    label.control-label #{member.company}
            .form-group
                label.col-sm-2.control-label 职位:
                .col-sm-5
                    label.control-label #{member.job}
            .form-group
                label.col-sm-2.control-label QQ号:
                .col-sm-10
                    label.control-label #{member.qq}
            .form-group
                label.col-sm-2.control-label 微信:
                .col-sm-10
                    label.control-label #{member.weixin}
            .form-group
                label.col-sm-2.control-label 手机号:
                .col-sm-10
                    label.control-label #{member.tel}
            .form-group
                label.col-sm-2.control-label 邮件:
                .col-sm-10
                    label.control-label #{member.mail}
            .form-group
                label.col-sm-2.control-label 一句话介绍:
                .col-sm-5
                    label.control-label #{member.desc}
            .form-group
                label.col-sm-2.control-label 大学生活及建议:
                .col-sm-10
                    //textarea.form-control#sug(name="member[sug]",value=member.sug,cols="50",rows="4") #{member.sug}
                    div.sug
                        | #{member.sug}
            .form-group
                label.col-sm-2.control-label 面试分享:
                .col-sm-10
                    label.control-label #{member.shares}
            .form-group
                .col-sm-2.control-label
                    a.btn.btn-success.btn-xs(href="/admin/member/update/#{member._id}") 修改
                .col-sm-10
                    .control-label
                    button.btn.btn-danger.del.btn-xs(type="button",data-id="#{member._id}") 删除
    script(src="/js/admin.js")
    script(src="/js/memberDetail.js")
