extends ../layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 业务名称
                        th 业务描述
                        th 创建人
                        th 创建时间
                        th 成员
                        th 退出该业务线
                    tbody
                each item in lines
                    tr(class="item-id-#{item._id}")
                        td #{item.name}
                        td #{item.desc}
                        td #{item.creator.name}
                        td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
                        td
                            if item.members
                                each member in item.members
                                    span #{member.name}&nbsp;&nbsp;
                        td
                            button.btn.btn-danger.exit.btn-xs(type="button",data-id="#{item._id}") 退出
    script(src="/js/exit.js")